@font-face  {
	font-family: "League Spartan Bold";
	src: url("lsb.otf");
}

body {
	margin: 0 10%;
}

.bubble {

	width: 49%;
	display: inline-block;
}

.bubble img {
		width: 100%;
}

ul  {
			width: 150px;
			color: #ffbd59;
			float: left;
			font-size: 140%;
			margin-top: 50px;
			margin-left: 50px;
			font-weight: bolder;
			font-family: "League Spartan Bold";
			
			
			}

		a {
			color: #ffbd59;
			text-decoration: none;
			}		
		
		#contact {      width: 450px;
				background: #5e17eb;
				}
		
		@media screen and (max-width: 968px) {
				
			#p1 {  width: 230px;
			       height: 91px;
				}

			#p2 {  width: 230px;
			       height: 91px;
				}

			#p3 {  width: 230px;
			       height: 91px;
				}
			
			#p4 {  width: 230px;
			       height: 91px;
				}
			.bubble {
				width: 100%;
			}

		} 

			

		@media screen and (min-width: 481px) and (max-width: 739px) {
 

		}
		
		@media screen and (min-width: 740px) and (max-width: 947px) {


			#p1 {  width: 360px;
			       height: 142px;
				}

			#p2 {  width: 360px;
			       height: 142px;
				}

			#p3 {  width: 360px;
			       height: 142px;
				}
			
			#p4 {  width: 360px;
			       height: 142px;
				}
			}

		@media screen and (min-width: 948px) and (max-width: 1130px)  {

				
					}
			
				

		@media screen and (min-width: 1131px) {

						
								}

			
				
			
		
	
/* notes: break points < 480px /  481px - 743px  / 744 - 930px / < 931px

 #ffd4b4 - pink text #5e17eb - violet  #ffbd59- orange  #ffd4bf-org/pnk */